In [41]:
import numpy as np
import pandas as pd
import math

In [42]:
ground = pd.read_csv('ground_truth_2024_06_08_13_33.csv')
ground_truth = pd.DataFrame()
ground_truth['utcTimeMillis'] = ground['utcTimeMillis'] - 1000
ground_truth['Latitude'] = ground['Latitude']
ground_truth['Longitude'] = ground['Longitude']
position = pd.read_csv('position_data_2024_06_08_13_33_sat.csv')
merged_df = pd.merge(ground_truth, position, how = 'inner', on='utcTimeMillis', suffixes=('_1', '_2'))
merged_df = merged_df.dropna()
merged_df

     utcTimeMillis  Latitude_1  Longitude_1  Latitude_2  Longitude_2
0    1717828418000   21.005067   105.845938   21.005265   105.846028
1    1717828419000   21.005067   105.846010   21.005268   105.846091
2    1717828421000   21.005062   105.846152   21.005165   105.846227
3    1717828422000   21.005060   105.846218   21.005164   105.846289
4    1717828423000   21.005050   105.846293   21.005177   105.846326
..             ...         ...          ...         ...          ...
401  1717828849000   21.005080   105.845723   21.004993   105.845857
402  1717828850000   21.005077   105.845702   21.004984   105.845800
403  1717828851000   21.005073   105.845675   21.004979   105.845719
404  1717828852000   21.005082   105.845647   21.005005   105.845663
405  1717828853000   21.005090   105.845605   21.005000   105.845603

[406 rows x 5 columns]

In [43]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0  # Bán kính Trái Đất trung bình bằng km
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)
    
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad
    
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    distance = R * c * 1000
    return distance

In [44]:
merged_df['Distance'] = merged_df.apply(lambda row: haversine(row['Latitude_1'], row['Longitude_1'], row['Latitude_2'], row['Longitude_2']), axis=1)
merged_df.to_csv('distance.csv')
mean_distance = merged_df['Distance'].mean()
mean_distance

14.56804970067181